#divResultatSerie {
    width: 1120px;
    padding: 0px 40px 0px 40px;
}

.articleSerie {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 40px 30px 40px;
    margin-bottom: 20px;
}

.divTitreSerie {
    width: 350px;
    display: flex;
    align-items: center;
}

.divAutheur {
    width: 200px;
}

.imgSerie {
    width: 80px;
    height: auto;
    margin-right: 25px;
}

.divDispo {
    width: 130px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.imgDispo {
    margin-right: 10px;
}

.divImgFleche {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.angle-down2 {
    height: 2em;
}