@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto:500,700');

/*

SOMMAIRE :

-
-
-

pour lister les choses a changer, rechercher : to change

*/


/* Reset */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F0F0F0;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 16px;
    color: #3B3B3B;
}

/* Elements principaux */

/* Header */
header {
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* to change */
    background-color: #478EBF;
}

.logo {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.logo img {
    height: 60px;
}

/* to change */
/* gestion icon des menu */
.navIcon {
    margin-right: 50px;
    display: flex;
}

.navIcon a {
    color: #FFFFFF;
    align-items: center;
}

.main {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

section {
    background-color: #FFFFFF;
    padding: 45px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
}


/* to change */
/* gerer avec section firstchild of body */
body section:first-of-type {
    margin-top: 125px;
}

.section2 {
    margin-bottom: 30px;
    padding: 45px 45px 15px 45px;
}

article {
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
    padding: 20px 20px 20px 20px;
    background-color: #F0F0F0;
    margin-bottom: 30px;
}

/* Formulaire */
form {

}

input {

}

textarea {

}

label {

}

select {

}

/* Titre */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h4 {
    
}

/* Lien */
a {
    text-decoration: none;
}

/* Boutton */
button {
    text-align: center;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    /* to change */
    letter-spacing: 0.02em;
}

.buttonColorGrey {
    background-color: #333333;
}

.buttonColorBlue {
    background-color: #3383df;
}

.buttonColorValide {
    background-color: #33df58;
}

.buttonColorAnnule {
    background-color: #df3333;
}

/* Taille */

.maxWidth {
    width: 100%;
}

/* Positionement */

.flex {
    display: -webkit-flex;
    display: flex;
}


.row {
    flex-flow: row nowrap;
}

.col {
    flex-flow: column nowrap;
}


.spaceBetween {
    justify-content: space-between;
}

.spaceArround {
    justify-content: space-around;
}


.justifyLeft {
    justify-content: flex-start;
}
.justifyCenter {
    justify-content: center;
}
.justifyRight {
    justify-content: flex-end;
}


.alignLeft {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignRight {
    align-items: flex-end;
}

/* Texte */
.textAlign {
    text-align: center;
}


.bold {
    font-weight: 600;
}

.souligne {
    text-decoration: underline;
}


/* Masqué */

.hidden {
    display: none;
}

/* @media */
