/*  form add série  */

.center {
    justify-content: center;
}

#formSerie {
    background-color: white;
    padding: 15px 50px 15px 50px;
    width: 750px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    border-radius: 15px;
}

.divFormSerie {
    width: 100%;
padding: 15px 0px 15px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px 8px 0px;
}

.divFormSerie2 {
    width: 375px;
    height: 75px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.divFormSerie3 {
    width: 375px;
    height: 75px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.divFormSerie2 label {
    font-weight: bold;
    margin-left: 5px;
    color: #3B3B3B;
}

.divFormSerie3 label {
    font-weight: bold;
    margin-right: 5px;
    color: #3B3B3B;
}

.inputFormSerie {
    height: 34px;

    padding-left: 10px;
}

.inputTaille {
    width: 300px;
}

.inputTaille2 {
    width: 750px;
}

